* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-product {
    border: 1px solid pink;
    width: 100%;
    max-width: 700px;
}

.about-product .product-description img{
    width: 100%;
    max-width: 600px;
}
