* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.last-products-list .last-product {
    border: 1px solid pink;
    width: 100%;
    max-width: 400px;
}

.last-products-list .last-product img{
    width: 100%;
    max-width: 300px;
}

.active {
    color: red;
}
