@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-header-nav {
    display: flex;
    justify-content: space-between;
}

.tech-nav-items {
    margin-left: 24vw;
}

.name-logo {
    vertical-align: middle;
    font-size: 2vw;
    font-family: 'Pacifico', cursive;
    color: #3b3b3b;
}

.navbar-brand-flex {
    display: flex;
    align-items:center;
}

.bg-light {
    background-color: #fff !important;
}

.link--dia {
    font-family: freightdispcmp-pro, serif;
    font-size: 1.75rem;
}

.link--dia::before,
.link--dia::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.link--dia:hover::before,
.link--dia:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.link--dia::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}

.link--dia::before,
.link--dia:hover::after {
    transition-delay: 0.1s;
}

.link--dia:hover::before {
    transition-delay: 0s;
}