/*--------------------------------------------------------------------- File Name: meanmenu.css ---------------------------------------------------------------------*/

a.meanmenu-reveal {
     display: none !important;
}

.mean-container .mean-bar {
     /*background: #0e100e;*/
     float: left !important;
     min-height: 40px !important;
     padding: 5px 0 !important;
     position: relative !important;
     width: 100% !important;
     z-index: 999 !important;
     margin-top: 15px !important;
}

.mean-container a.meanmenu-reveal {
     color: #fff !important;
     cursor: pointer !important;
     display: block !important;
     font-family: 'Roboto', sans-serif !important;
     font-weight: 400 !important;
     height: 22px !important;
     line-height: 22px !important;
     position: absolute !important;
     right: 12px !important;
     text-decoration: none !important;
     top: 12px !important;
     width: 26px !important;
}

.mean-container a.meanmenu-reveal span {
     background: #ffffff none repeat scroll 0 0 !important;
     border-radius: 0 !important;
     display: block !important;
     height: 4px !important;
     margin-top: 3px !important;
     width: auto !important;
}

.mean-container a.meanmenu-reveal span:first-child {
     margin: 0 !important;
}

.mean-container .mean-nav {
     background: #ffffff none repeat scroll 0 0 !important;
     float: left !important;
     margin-top: 44px !important;
     width: 100% !important;
}

.mean-container .mean-nav ul {
     padding: 0 !important;
     margin: 0 !important;
     width: 100% !important;
     list-style-type: none !important;
}

.mean-container .mean-nav ul li {
     position: relative !important;
     float: left !important;
     width: 100% !important;
}

.mean-container .mean-nav ul li a {
     border-bottom: 1px solid #ccc !important;
     color: #383838 !important;
     display: block !important;
     float: left !important;
     font-size: 12px !important;
     font-weight: 500 !important;
     margin: 0 !important;
     padding: 1em 5% !important;
     text-align: left !important;
     text-decoration: none !important;
     text-transform: uppercase !important;
     width: 90% !important;
}

.mean-container .mean-nav ul li a:hover {
     color: #38c8a8 !important;
}

.mean-container .mean-nav ul li li a {
     width: 80% !important;
     padding: 1em 10% !important;
     border-top: 1px solid #ccc !important;
     border-top: 1px solid #ccc !important;
     opacity: 1 !important;
     filter: alpha(opacity=1) !important;
     text-shadow: none !important;
     visibility: visible !important;
}

.mean-container .mean-nav ul li.mean-last a {
     border-bottom: 1px solid #cccccc !important;
     margin-bottom: 0 !important;
}

.mean-container .mean-nav ul li li li a {
     width: 70% !important;
     padding: 1em 15% !important;
}

.mean-container .mean-nav ul li li li li a {
     width: 60% !important;
     padding: 1em 20% !important;
}

.mean-container .mean-nav ul li li li li li a {
     width: 50% !important;
     padding: 1em 25% !important;
}

.mean-container .mean-nav ul li a:hover {
     ` background: #252525 !important;
     background: rgba(255, 255, 255, 0.1) !important;
}

.mean-container .mean-nav ul li a.mean-expand {
     background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
     border: medium none !important;
     font-weight: 400 !important;
     height: 22px !important;
     line-height: 22px !important;
     margin-top: 1px !important;
     padding: 12px 16px !important;
     position: absolute !important;
     right: 0 !important;
     text-align: center !important;
     top: -1px !important;
     width: 17px !important;
     z-index: 2 !important;
     font-size: 18px !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
     background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0 !important;
     color: #ffffff !important;
}

.mean-container .mean-push {
     float: left;
     width: 100%;
     padding: 0;
     margin: 0;
     clear: both;
}

.mean-nav .wrapper {
     width: 100% !important;
     padding: 0 !important;
     margin: 0 !important;
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
     -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
     box-sizing: content-box !important;
}

.mean-remove {
     display: none !important;
}

.mean-nav span {
     display: none !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover,
.mean-container .mean-nav ul li a.mean-expand:focus {
     background: #38c8a8 !important;
     color: #ffffff !important;
}

.mean-container .mean-nav ul li a:hover {
     color: #00D6EC !important;
}